<?xml version="1.0" encoding="utf-8"?>

<robot name="compositeH">
  <link name="object">
    <inertial>
      <origin
        xyz="0 0 0.025"
        rpy="0 0 0" />
      <mass
        value="0.352" />
      <inertia
        ixx="0.00445815994"
        ixy="0"
        ixz="0"
        iyy="0.00111868326"
        iyz="0"
        izz="0.00497668852" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://composite-test-object/meshes/outershell.stl" />
      </geometry>
      <material name="color">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://composite-test-object/meshes/outershell.stl" />
      </geometry>
    </collision>
  </link>
</robot>

