<?xml version="1.0"?>
<robot name="Robotiq_2F85" xmlns:xacro="http://ros.org/wiki/xacro" >

	<!-- On the first day, Darwin created the world -->
    <link name="world"/>

	<!-- Add Robotiq 2f-85 gripper -->
    <xacro:include filename="./Robotiq_2F85/urdf/Robotiq_2F85.urdf.xacro" />
    
	<xacro:Robotiq_2F85 parent="world" name="gripper" enable_underactuation="true" soft_pads="false" softness="10" >
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:Robotiq_2F85>


</robot>

