<?xml version="1.0"?>
<robot name="UR5" xmlns:xacro="http://ros.org/wiki/xacro" >

	<!-- On the first day, Darwin created the world -->
    <link name="world"/>

	<!-- Add UR5 model to our world -->
    <xacro:include filename="./ur5/ur5.urdf.xacro" />
	
	<!-- Attach UR5's base to the ground so it doesnt fall over -->
    <joint name="fixed" type="fixed">
            <parent link="world"/>
            <child link="base_link"/>
    </joint>
	
	<!-- Instanciate a UR5 -->
	<xacro:ur5_robot prefix="" joint_limited="true"
    		shoulder_pan_lower_limit="${-2*pi}" shoulder_pan_upper_limit="${2*pi}"
    		shoulder_lift_lower_limit="${-2*pi}" shoulder_lift_upper_limit="${2*pi}"
    		elbow_joint_lower_limit="${-2*pi}" elbow_joint_upper_limit="${2*pi}"
    		wrist_1_lower_limit="${-2*pi}" wrist_1_upper_limit="${2*pi}"
    		wrist_2_lower_limit="${-2*pi}" wrist_2_upper_limit="${2*pi}"
    		wrist_3_lower_limit="${-2*pi}" wrist_3_upper_limit="${2*pi}"
  	/>


</robot>

